* {
    padding: 0;
    margin : 0;
}

@font-face {
    font-family: ar-font;
    src        : url('../fonts/Cairo-SemiBold.ttf');
}

body {
    direction  : rtl;
    font-family: ar-font !important;
}

header {
    background-image   : url('../images/header.jpg');
    background-size    : cover;
    background-position: center center;
}

header .brand {
    margin-top    : 100px;
    margin-bottom : 60px;
    display       : inline-block;
    border-bottom : 5px solid #474c53;
    padding-bottom: 35px;

}

header .heading-page h1 {
    color      : white;
    font-size  : 60px;
    line-height: 75px;
    font-weight: bold;
}

header .heading-page p {
    color      : #acacac;
    font-size  : 18px;
    line-height: 25px;
    width      : 40%;
    margin     : auto;
}

header .count-down {
    width : 60%;
    margin: 90px auto;
}

header .counter {
    display: inline-block;
    margin : 0px 15px;
}

header .count-down .counter .count-amount {
    color      : #ffce00;
    font-size  : 60px;
    display    : block;
    font-weight: bold;
}

header .count-down .counter .count-period {
    color      : white;
    display    : block;
    font-size  : 30px;
    font-weight: bold;
}

p {
    font-size: 18px;
    color    : white;
}

.input-group {
    width    : 35%;
    margin   : auto;
    transform: translateY(30%);
}

.input-group button {
    background-color: #ffce00 !important;
    padding         : 13px 25px;
    border-radius   : 0 !important;
}

.input-group input {
    border-radius: 0;
    border       : 2px solid #e6e6e6;
    font-size    : 18px;
    direction    : rtl;
}

.invalid-feedback {
    margin-bottom: -30px;
}

main section.features {
    padding: 100px 0px;
}

main section.features h2 {
    color        : #555555;
    margin-bottom: 55px;
}

main section.features .row .d-flex {
    border       : 2px solid #fafafa;
    padding      : 40px 10px;
    max-height   : 190px;
    margin-bottom: 20px;
}

main section.features .row .d-flex h4 {
    font-size: 24px;
    color    : #555555;
}

main section.features .row .d-flex p {
    font-size  : 15px;
    color      : #a1a1a1;
    line-height: 25px;
}

main section.features .row .col-md-6:nth-child(even) {
    direction: ltr;
}

footer {
    background-image   : url(../images/footer-bg.jpg);
    background-size    : cover;
    background-position: center;
    text-align         : center;
}

footer .footer-notification {
    background-color: rgba(255, 206, 0, 0.7);
    padding         : 70px 0;
}

footer .footer-notification h3 {
    font-size    : 30px;
    margin-bottom: 30px;
}

footer .footer-notification .input-group button {
    background-color: #393939 !important;
}

footer .social-media {
    background-color: rgba(75, 75, 75, 0.9);
    padding         : 100px 0 30px;
}

footer .social-media>h3 {
    font-size    : 30px;
    color        : white;
    margin-bottom: 30px;
}

footer .social-media .list-inline-item a {
    height          : 70px !important;
    width           : 70px !important;
    font-size       : 24px !important;
    background-color: rgba(48, 48, 48, 0.6) !important;
    display         : flex !important;
    align-items     : center;
    justify-content : center;
    color           : white !important;
    transition      : .5s;
}

footer .social-media .list-inline-item a:hover {
    background-color: #fad32f !important;
    color           : #555555 !important;
}

footer .social-media hr {
    width : 25%;
    margin: 50px auto 30px;
}

footer .social-media .email {
    color          : #b4b4b4;
    text-decoration: none;

}

footer .social-media .email .fa-envelope {
    color      : #ffce00 !important;
    margin-left: 4px;
}

@media (max-width:992px) {
    header .heading-page p {
        width: 70%;
    }

    .input-group {
        width: 50% !important;
    }

    main section.features .row .d-flex {
        padding: 15px 10px !important;

    }

    main section.features .row .d-flex h4 {
        font-size: 20px !important;
    }
}

@media (max-width:768px) {
    header .count-down {
        width: 80% !important;
    }
}

@media (max-width:576px) {
    header .heading-page h1 {
        font-size: 45px !important;
    }

    header .heading-page p {
        width: 90% !important;
    }

    .input-group {
        width: 80% !important;
    }
}